@use '@angular/material' as mat;
@use './_typography' as *;
@use './_theme' as *;
@use './_components' as *;
@use './_pages' as *;

@include custom-snackbar(success);
@include custom-snackbar(error);

@include custom-button(primary);
@include custom-button(secondary);
@include custom-button(tertiary);
@include custom-button(success);
@include custom-button(error);

@include define-color(primary);
@include define-color(secondary);
@include define-color(tertiary);
@include define-color(success);
@include define-color(error);

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::-webkit-scrollbar {
    width: 12px !important;
  }

  &::-webkit-scrollbar-track {
    background: var(--mat-sys-surface) !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--mat-sys-primary) !important;
    border-radius: 20px !important;
    border: 3px solid var(--mat-sys-surface) !important;
  }

  scrollbar-width: thin !important;
  scrollbar-color: var(--mat-sys-primary) var(--mat-sys-surface) !important;
}

.selectable {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

body {
  min-width: 320px;
  font-family: 'Inter', sans-serif;
}

html,
body {
  color: var(--mat-sys-on-background) !important;
}

.loading-container {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--mat-sys-surface);
}

.radius {
  border-radius: 1rem !important;
}

.d-flex {
  display: flex !important;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.relative {
  position: relative;
}

.m-top {
  margin-top: 1rem !important;
}

.m-right {
  margin-right: 1rem !important;
}

.m-bot {
  margin-bottom: 1rem !important;
}

.m-left {
  margin-left: 1rem !important;
}

.p-top {
  padding-top: 1rem !important;
}

.p-right {
  padding-right: 1rem !important;
}

.p-bottom {
  padding-bottom: 1rem !important;
}

.p-left {
  padding-left: 1rem !important;
}

.text-align-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.row-gap {
  row-gap: 1rem;
}

.col-gap {
  column-gap: 1rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.width-100 {
  width: 100% !important;
}
