<main id="container">
  <section class="wrapper">
    <div class="wrapper-container">
      <div class="wrapper-container-header">
        <div class="d-flex align-items-center gap-1">
          <button mat-icon-button (click)="onCloseDialog()"><mat-icon> close </mat-icon></button>
          <h2>{{ exam ? 'Editar' : 'Novo' }} exame</h2>
        </div>
      </div>
      <div class="wrapper-container-content">
        @if (isLoading) {
        <div class="loading-container">
          <mat-spinner></mat-spinner>
        </div>
        } @else {
        <form [formGroup]="form" class="form-content" (ngSubmit)="onSubmit()">
          <mat-form-field class="form-field" appearance="outline" floatLabel="always">
            <mat-label> Modalidades </mat-label>
            <mat-select placeholder="-- Selecione --" formControlName="modality">
              <mat-option>--</mat-option>
              @for (item of modalities; track item) {
              <mat-option [value]="item">
                {{ item }}
              </mat-option>
              }
            </mat-select>
            <mat-error *ngIf="form.get('modality')?.hasError('required')">
              <mat-icon fontSet="material-icons-outlined">error</mat-icon> Campo obrigatório
            </mat-error>
          </mat-form-field>

          <div class="form-footer">
            <button
              mat-button
              color="primary"
              type="button"
              [disabled]="isBusy"
              class="radius"
              (click)="onCloseDialog()"
            >
              Cancelar
            </button>

            <button
              mat-flat-button
              color="primary"
              type="submit"
              [disabled]="isBusy"
              class="radius"
            >
              {{ isBusy ? 'Salvando...' : 'Salvar' }}
            </button>
          </div>
        </form>
        }
      </div>
    </div>
  </section>
</main>
