<main id="container">
  <section class="wrapper">
    <div class="wrapper-content">
      @if (!hideImage) {
      <div class="left-content"></div>
      }

      <div class="right-content">
        <div class="right-content-wrapper">
          <img src="assets/images/logo.png" alt="Logo" class="logo-image" />
          <h2>Valide seu acesso!</h2>
          <p>Informe suas credenciais para acessar sua conta de maneira segura.</p>
          <br />
          <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="on">
            <div class="form-content">
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label> Email </mat-label>
                <input
                  matInput
                  formControlName="email"
                  type="email"
                  autocomplete="username"
                  placeholder="seuemail@email.com"
                />
                @if (form.get('email')?.hasError('required')) {
                <mat-error> - Campo obrigatório </mat-error>
                } @if (form.get('email')?.hasError('email')) {
                <mat-error> - E-mail inválido </mat-error>
                }
              </mat-form-field>
              <mat-form-field appearance="outline" floatLabel="always">
                <mat-label> Senha </mat-label>
                <input
                  matInput
                  formControlName="password"
                  [type]="hidePassword() ? 'password' : 'text'"
                  placeholder="********"
                  autocomplete="current-password"
                />
                <button
                  type="button"
                  mat-icon-button
                  matSuffix
                  (click)="clickEvent($event)"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hidePassword()"
                >
                  <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                @if (form.get('password')?.hasError('required')) {
                <mat-error> - Campo obrigatório </mat-error>

                } @if (form.get('password')?.hasError('invalid')) {
                <mat-error> - Senha inválida </mat-error>

                }
              </mat-form-field>
              <button
                mat-flat-button
                color="primary"
                type="submit"
                [disabled]="isBusy"
                class="radius"
              >
                {{ isBusy ? 'Entrando...' : 'Acessar' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
